<!DOCTYPE html>

<html lang="en">
  <head>
    {% block meta_tags %}
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    {% endblock %}
    <title>
      {% block title %}EyeCanSee{% endblock %}
    </title>
    {% block stylesheets %}
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/eyecansee.css">
    {% endblock %}
    {% block javascript %}
    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="/static/js/brython.js"></script>
    <script type="text/python" src="/static/py/eyecansee.py"></script>
    {% endblock %}
  </head>
  <body onload="brython(1)">
      {% include "header.html" %}
    <div class="container">
      {% block content %}{% endblock %}
      {% include "footer.html" %}
    </div>
  </body>
</html>
