<header class="navbar navbar-default" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" rel="home" href="/eyecansee">
      <img src="/static/img/logo.png" height="100%" style="float:left; padding-right:10px"> EyeCanSee
    </a>
  </div>
  <div class="collapse navbar-collapse">
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/eyecansee/request_token">Request a token</a></li>
      <li><a href="/eyecansee/try">Try</a></li>
    </ul>
  </div>
</header>
