{% extends "_base.html" %}

{% block content %}
<div class="container">
  <div class="jumbotron" style="text-align: center">
    <img src="/static/img/logo.png" width="50%"/>
    <h1>EyeCanSee</h1>
    <p>Wow such PFE, much recognition!</p>
    <p><a class="btn btn-primary btn-lg" href="/apk/eye.apk"><span class="glyphicon glyphicon-cloud-download" aria-hidden="true"></span> Download</a></p>
  </div>
</div>
{% endblock content %}
