{% extends "_base.html" %}

{% block content %}
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Request a token</h3>
  </div>
  <span id="form">
    <div class="panel-body">
      <div class="row">
        <div class="col-xs-10">
          <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
            <input type="text" id="user" class="form-control" placeholder="username" required>
          </div>
          </br>
          <div class="input-group">
            <span class="input-group-addon">@</span>
            <input type="text" id="email" class="form-control" placeholder="user@example.com" required>
          </div>
        </div>
        <div class="col-xs-2">
          <button class="btn btn-default" style="width: 100%; padding: 33px" onclick="add_pending()">Request</button>
        </div>
      </div>
    </div>
  </span>
</div>
{% endblock content %}
