{% extends "_base.html" %}

{% block content %}
<div class="panel panel-default">
  <div class="panel-heading"><h3 class="panel-title">Validate pending users</h3></div>
  <div class="panel-body">
    <span id="pending">
    <div class="row">
      <div class="col-xs-12">
        <div class="input-group">
          <span class="input-group-addon"><span class="glyphicon glyphicon-cog"></span></span>
          <input type="password" id="admin_pass" class="form-control" placeholder="Admin password" required>
        </div>
      </div>
    </div>
    <br/>
    {% for user in pending %}
    <div class="row" id="div-{{user.name}}">
      <div class="col-xs-4">
        <div class="input-group">
          <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
          <input type="text" id="user-{{user.name}}" class="form-control" value="{{user.name}}" required>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="input-group">
          <span class="input-group-addon">@</span>
          <input type="text" id="mail-{{user.name}}" class="form-control" value="{{user.email}}">
        </div>
      </div>
      <div class="col-xs-1">
        <button class="btn btn-default" style="width: 100%" onclick="validate('{{user.name}}')">Accept</button>
      </div>
      <div class="col-xs-1">
        <button class="btn btn-default" style="width: 100%" onclick="nuke('{{user.name}}')">Nuke</button>
      </div>
      <br/>
    </div>
    {% endfor %}
    </span>
  </div>
</div>
{% endblock content %}
